@page
@model GolfClubDb.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bookings.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bookings.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bookings.TeeDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bookings.TeeDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bookings.TeeTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bookings.TeeTime)
        </dd>
        <dt class="col-sm-2">
            Player 1
        </dt>
        <dd class="col-sm-10">
            @Model.Bookings.Player1Member?.Name
        </dd>
        <dt class="col-sm-2">
            Player 1 Handicap
        </dt>
        <dd class="col-sm-10">
            @Model.Bookings.Player1Member?.Handicap
        </dd>
        <dt class="col-sm-2">
            Player 2
        </dt>
        <dd class="col-sm-10">
            @Model.Bookings.Player2Member?.Name
        </dd>
        <dt class="col-sm-2">
            Player 2 Handicap
        </dt>
        <dd class="col-sm-10">
            @Model.Bookings.Player2Member?.Handicap
        </dd>
        <dt class="col-sm-2">
            Player 3
        </dt>
        <dd class="col-sm-10">
            @Model.Bookings.Player3Member?.Name
        </dd>
        <dt class="col-sm-2">
            Player 3 Handicap
        </dt>
        <dd class="col-sm-10">
            @Model.Bookings.Player3Member?.Handicap
        </dd>
        <dt class="col-sm-2">
            Player 4
        </dt>
        <dd class="col-sm-10">
            @Model.Bookings.Player4Member?.Name
        </dd>
        <dt class="col-sm-2">
            Player 4 Handicap
        </dt>
        <dd class="col-sm-10">
            @Model.Bookings.Player4Member?.Handicap
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bookings.Id" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-info">Back to List</a>
</div>
