@page
@model GolfClubDb.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr class="table-primary">
            <th scope="row">
                @Html.DisplayNameFor(model => model.Bookings[0].Id)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Bookings[0].TeeDate)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Bookings[0].TeeTime)
            </th>
            <th scope="row">
                Player 1
            </th>
            <th scope="row">
                Handicap
            </th>
            <th scope="row">
                Player 2
            </th>
            <th scope="row">
                Handicap
            </th>
            <th scope="row">
                Player 3
            </th>
            <th scope="row">
                Handicap
            </th>
            <th scope="row">
                Player 4
            </th>
            <th scope="row">
                Handicap
            </th>
            <th scope="row"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bookings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeeTime)
            </td>
            <td>
                    @item.Player1Member?.Name
            </td>
            <td>
                    @item.Player1Member?.Handicap
            </td>
            <td>
                    @item.Player2Member?.Name
            </td>
            <td>
                    @item.Player2Member?.Handicap
            </td>
            <td>
                    @item.Player3Member?.Name
            </td>
            <td>
                    @item.Player3Member?.Handicap
            </td>
            <td>
                    @item.Player4Member?.Name
            </td>
            <td>
                    @item.Player4Member?.Handicap
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
