@page
@model GolfClubDb.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].TeeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].TeeTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Player1Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Player1Handicap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Player2Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Player2Handicap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Player3Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Player3Handicap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Player4Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings[0].Player4Handicap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bookings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeeTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Handicap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Handicap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player3Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player3Handicap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player4Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player4Handicap)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
